.space__ {
  &destination {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding-inline: 20px;
    // height: 100vh;
    justify-content: space-between;
    margin-top: 76px;
    @media only screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 40px;
  }
    @media only screen and (max-width: 420px) {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow-y: auto;
      margin: 0;
      box-sizing: border-box;
    }
  }

}
.destination__ {
  &content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    @media only screen and (max-width: 1024px) {
      flex-direction: column;
     justify-content: center;
    }
    @media only screen and (max-width: 420px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      // gap: 26px;
    }
  }
  &planet {
    display: flex;
    flex-direction: column;
    width: 445px;
    height: 445px;
    object-fit: contain;
    @media only screen and (max-width: 1024px) {
      max-width: 300px;
      height: auto;
      margin: 0 auto;
      margin-block: 60px;
    }
    @media only screen and (max-width: 420px) {
      display: flex;
      align-items: center;
      margin-top: 30px;
      width: 170px;
      height: 170px;
    }
  }
  &imgPlanet {
    margin-top: 97px;
    margin-left: 63px;
    @media only screen and (max-width: 1024px) {
      width: 300px;
      height: 300px;
      margin: 0 auto;
    }
    @media only screen and (max-width: 420px) {
      width: 170px;
      height: 170px;
      margin-top: 32px;
      margin-left: 0;
    }
  }
  &info {
    max-width: 445px;
    margin-top: 64px;
    @media only screen and (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 0;
      margin-bottom: 60px
    }
    @media only screen and (max-width: 420px) {
      margin-top: 0;
      width: 80%;
      margin: 0 auto;
    }
  }
  &technology,
  &list {
    @media only screen and (max-width: 1024px) {
      display: flex;
      align-items: center;
      text-align: center;
    }
  }
  &title {
    font-size: 28px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 4px;
    @media only screen and (max-width: 821px) {
      width: 90%;
      margin: 0 auto;
      text-align: left;
    }
    @media only screen and (max-width: 460px) {
      font-size: 16px;
      text-align: center;
      font-family: 'Barlow', sans-serif;
    }
  }
  &number {
    opacity: 0.25;
    margin-right: 28px;
    font-weight: bold;
    @media only screen and (max-width: 420px) {
      width: 100%;
      margin-right: 18px;
    }
  }
  &list {
    display: flex;
    gap: 35px;
  }
  &option {
    list-style: none;
    font-size: 16px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    letter-spacing: 2.7px;
    position: relative;
    cursor: pointer;
    &::before {
      content: '';
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 2rem;
      background: #ffffff;
      width: 0;
      height: 3px;
      transition: all 0.3s ease-in;
    }
    &:hover::before {
      width: 100%;
      background: #979797;
    }
    &.active::before {
      width: 100%;
    }
  }
  &name {
    font-size: 100px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    color: #fff;
    margin-top: 37px;
    @media only screen and (max-width: 420px) {
      font-size: 56px;
    }
  }
  &text {
    font-size: 18px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    line-height: 32px;
    color: #d0d6f9;
    margin-top: 14px;
    margin-bottom: 54px;
    @media only screen and (max-width: 420px) {
      margin-bottom: 32px;
    }
  }
  &line {
    width: 100%;
    background-color: #383b4b;
    height: 1px;
    margin-bottom: 28px;
  }
  &data {
    display: flex;
    gap: 125px;
    @media only screen and (max-width: 420px) {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 32px;
      gap: 32px;
      text-align: center;
      margin-bottom: 40px;
    }
  }
}

.data__ {
  &datos {
    display: flex;
    flex-direction: column;
  }
  &subtitle {
    font-size: 14px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: #d0d6f9;
    margin-bottom: 12px;
    letter-spacing: 2.36px;
  }
  &dato {
    font-size: 28px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    color: #fff;
  }
}
