.space__ {
  &technology {
    // max-width: 80%;
    width: 100%;
    margin-top: 76px;
    padding-left: 20px;
  }
}
.pagination__ {
  &btnBig {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
  }
  &btnBig:hover {
    background-color: #fff;
    color: #0b0d17;
    border: 1px solid #979797;
  }
}
.launch__ {
  &content {
    // max-width: 630px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 27px;
  }
  &info {
    display: flex;
    gap: 80px;
  }
  &pagination {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  &infoLaunch {
    width: 470px;
  }
}

.infoLaunch__ {
  &subtitle {
    font-size: 16px;
    // line-height: 32px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    color: #d0d6f9;
  }
  &name {
    font-size: 56px;
    // line-height: 32px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    color: #fff;
    margin-top: 11px;
  }
  &description {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Barlow', sans-serif;
    font-weight: 400;
    color: #d0d6f9;
    margin-top: 17px;
  }
}

.img__launch {
  width: 480px;
  height: auto;
}

@media only screen and (max-width: 1166px) {
  .destination__title{
    padding-left: 4%;
  }
  .space__ {
    &technology {
      margin-top: 40px;
      overflow: auto;
      max-width: 100%;
      padding-left: 0;
    }
  }
  .launch__ {
    &content {
      display: flex;
      flex-direction: column;
      gap: 56px;
      margin-top: 60px;
    }
    &info {
      order: 2;
    }
    &img {
      order: 1;
    }
  }
  .img__launch {
    width: 100%;
  }
  .launch__ {
    &info {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 44px;
    }
    &pagination {
      flex-direction: row;
    }
  }

  .pagination__ {
    &btnBig {
      width: 60px;
      height: 60px;
    }
  }
  .infoLaunch__ {
    &subtitle {
      font-size: 16px;
    }
    &name {
      font-size: 40px;
    }
    &description {
      font-size: 16px;
      line-height: 28px;
    }
  }
}



@media only screen and (max-width: 460px) {
  .space__ {
    &technology {
      margin-top: 40px;
      overflow: auto;
    }
  }
  .destination__title {
    padding-left: 0;
    text-align: center;
  }
  .launch__ {
    &info {
      max-width: 370px;
      padding-inline: 24px;
    }
    &infoLaunch {
      width: 100%;
    }
  }
  .pagination__ {
    &btnBig {
      width: 40px;
      height: 40px;
    }
  }
  .infoLaunch__ {
    &subtitle {
      font-size: 14px;
    }
    &name {
      font-size: 24px;
    }
    &description {
      width: 90%;
      margin: 0 auto;
      font-size: 15px;
      line-height: 25px;
    }
  }
}
