<header class="space__header">
  <div class="header__logo"></div>
  <nav class="header__nav">
    <div class="header__close"></div>
    <div class="header__list">
      <a href="/" class="nav__option">
        <span class="header__listnumber">00</span> HOME</a
      >
      <a href="/destination" class="nav__option"
        ><span class="header__listnumber">01 </span>DESTINATION</a
      >
      <a href="/crew" class="nav__option">
        <span class="header__listnumber">02 </span> CREW</a
      >
      <a href="/technology" class="nav__option">
        <span class="header__listnumber">03 </span>TECHNOLOGY</a
      >
      <div class="nav__underline"></div>
    </div>
  </nav>
  <div class="header__menu">
    <div class="header__hamburger"></div>
    <div class="header__listmovil">
      <div class="nav__options">
        <a href="/" class="nav__option">
          <span class="header__listnumber">00</span> HOME</a
        >
        <a href="/destination" class="nav__option"
          ><span class="header__listnumber">01 </span>DESTINATION</a
        >
        <a href="/crew" class="nav__option">
          <span class="header__listnumber">02 </span> CREW</a
        >
        <a href="/technology" class="nav__option">
          <span class="header__listnumber">03 </span>TECHNOLOGY</a
        >
      </div>
      <div class="nav__underline"></div>
    </div>
  </div>
</header>
