---

---

<div class="crew__slide">
  <div class="crew__info">
    <h1 class="destination__title desktop">
      <span class="destination__number">02</span> MEET YOUR CREW
    </h1>
    <div class="crew__infoContent">
      <h2 class="crew__role">COMMANDER</h2>
      <h1 class="crew__name">DOUGLAS HURLEY</h1>
      <p class="crew__description" id="bio">
        Douglas Gerald Hurley is an American engineer, former Marine Corps pilot
        and former NASA astronaut. He launched into space for the third time as
        commander of Crew Dragon Demo-2.
      </p>
      <div class="crew__pagination">
        <div class="pagination__btn" data-name="Douglas Hurley"></div>
        <div class="pagination__btn" data-name="Mark Shuttleworth"></div>
        <div class="pagination__btn" data-name="Victor Glover"></div>
        <div class="pagination__btn" data-name="Anousheh Ansari"></div>
      </div>
    </div>
  </div>
  <div class="crew__img">
    <img
      src="./assets/crew/image-douglas-hurley.png"
      class="crew__imgCrew"
      alt=""
      id="imgCrew"
    />
  </div>
</div>
